.tp-banner-container{
	position: relative;
    width: 100%;
    height: 100%;
	transition:none;
	overflow: hidden !important;
}

.tp-banner-container:before {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: linear-gradient(to top,rgb(0 0 0 / 0.75) 0%,rgba(0,0,0,0) 30%);content: "";z-index: 200;}

.tp-banner-container .tp-banner,
.tp-bgimg{
	transition:none;
}
.tp-banner-container .tp-banner li{
	transition:none;
}
.tp-banner-container .tp-banner li .tp-caption{
	transition:none;
}
.tp-banner-container .tp-banner li .tp-caption img{
	transition:none;
}
.tp-banner-container .tp-banner li .tp-caption p{
	color:#fff;
	font-size:18px;
}
.tp-banner-container .tp-banner li .tp-caption p.bannertwo{
	font-size:16px;
}
.tp-banner-container .tp-banner li a { position: absolute; width: 100%; height: 100%; display: block; top: 0; left: 0; z-index: 10; }

.tp-banner-container .slogan{
    position: absolute;
    z-index: 52;
    top: 50%;
    opacity: 0;
    color: white;
    width: 366px;
    height: 58px;
    left: 50%;
    margin-left: -183px;
    text-align: center;
    display: none;
}
.tp-banner-container .slogan span{
	font-size: 19px;
    font-family: Aparajita,sans-serif;
    opacity: .7;
    position: absolute;
    display: block;
    width: 100%;    overflow: hidden;
    top: -12px;
	text-align: center;
}
.tp-banner-container .slogan b{
    font-size: 22px;
    display: block;
    font-weight: 500;
    word-spacing: 14px;
    line-height: 64px;
    position: relative;
}
.tp-banner-container .slogan span::before{
content: '';
    background-color: white;
    opacity: .5;
    width: 50%;
    height: 1px;
    top: 6px;
    position: absolute;
    right: 63%;
}
.tp-banner-container .slogan span::after{
content: '';
    background-color: white;
    opacity: .5;
    width: 50%;
    height: 1px;
    top: 6px;
    position: absolute;
    left: 63%;
}
.tp-banner-container .slogan::after{
content: '';
    background-color: white;
    opacity: .5;
    width: 100%;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: 0%;
}
.tp-banner-container .slogan:after{
content: '';
}


#fakeNumber{background-repeat:no-repeat;background-position:50% 50%;background-size:cover;position: relative;z-index: 202;position: absolute;bottom: 0;width: 100%;}
#fakeNumber .webframe {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
}
#fakeNumber .index-project-tl {
    position: relative;
    text-align: center;
    background: #4b34a0;
    padding: 12px 0;
    color: #fff;
    border-radius: 7px;
    display: none;
}
#fakeNumber .index-project-tl h2 {
    color: #fff;
    font-size: 34px;
    text-align: center;
    margin: 32px 0;
}
#fakeNumber .index-project-tl em {
    display: block;
    background: url(/images/20/new/home_210.svg) no-repeat;
    width: 81px;
    height: 38px;
    position: absolute;
    left: 50%;
    margin-left: -40.5px;
    bottom: -35px;
}
#fakeNumber .index-tl-line {
    display: inline-block;
    background: #fff;
    width: 55px;
    height: 5px;
}
#fakeNumber ul{text-align:center;padding: 0px 10px;text-align: center;color: #666;font-size: 16px;-webkit-transform: skewX(-8deg);transform: skewX(-8deg);display: flex;justify-content: center;width: 100%;}
#fakeNumber ul li{display: flex;width: calc(25% - 3px);color:#fff;text-align:center;position:relative;/* background: #f1f1f1; */}
#fakeNumber ul li:after{content:'';width: 2px;height:50px;display:block;background: #f1f1f18a;position:absolute;z-index:5;top:calc(50% - 25px);left:0;transform: skew(-15deg);}
#fakeNumber ul li:first-child:after{display:none}
#fakeNumber ul li .eva{padding: 24px 35px;margin:0 auto;display: flex;flex-direction: column;}
#fakeNumber ul li .eva p{font-size: 22px;color: #efefef;line-height:100%;text-align: center;font-weight: 800;}
#fakeNumber ul li .eva p b{font-size: 38px;color: #ffffff;line-height:100%;font-weight: 800;margin-right: 3px;font-family: serif;letter-spacing: 0.02em;}
#fakeNumber ul li .eva h2{text-align:right;font-size: 14px;margin-top:10px;line-height:120%;color: #ffffff;text-align: center;}
@media screen and (max-width: 1024px) {
	#fakeNumber ul li .eva{
	    padding: 12px 20px;
	}
	#fakeNumber ul li{
    width: calc(33.3% - 0px);
}
}
@media screen and (max-width: 640px){
	#fakeNumber ul li .eva p b{
	    font-size: 28px;
	}
	#fakeNumber ul li .eva p{
	    font-size: 16px;
	}
	#fakeNumber ul li:after{
	    width: 1px;
	    height: 36px;
	    top: calc(50% - 17px);
	    transform: skew(0deg);
	    opacity: 0.5;
	}
	#fakeNumber ul li .eva{
		padding: 12px 0px;
	}
	#fakeNumber ul{
		padding:0;
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	#fakeNumber ul li{
	    width: calc(25% - 0px);
	}
	#fakeNumber ul li.midd{
    width: calc(40% - 0px);
}
}